<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @watersewer.address.humanize %>
</p>

<p>
  <strong>Name:</strong>
  <%= @watersewer.name.humanize %>
</p>

<p>
  <strong>Call Back:</strong>
  <%= @watersewer.callback.humanize %>
</p>

<p>
  <strong>Unit Assigned:</strong>
  <%= @watersewer.unitassigned.humanize %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @watersewer.problem.humanize %>
</p>

<p>
  <strong>Wateroff:</strong>
  <%= @watersewer.wateroff_to_string.humanize %>
</p>

<p>
  <strong>Cityleak:</strong>
  <%= @watersewer.city_to_string.humanize %>
</p>

<p>
  <strong>Privateleak:</strong>
  <%= @watersewer.private_to_string.humanize %>
</p>

<p>
  <strong>Noleak:</strong>
  <%= @watersewer.no_to_string.humanize %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @watersewer.comment.humanize %>
</p>

<%= link_to 'Edit', edit_watersewer_path(@watersewer) %> |
<%= link_to 'Back', watersewers_path %>
