<p id="notice"><%= notice %></p>

<h1>Unit Numbers</h1>

<table class="center">
  <thead>
    <tr>
      <th>Officer</th>
      <th>Radio #</th>
      <th>Extra Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @radionumbers.each do |radionumber| %>
      <tr>
        <td><%= radionumber.officer %></td>
        <td><%= radionumber.radionumber %></td>
        <td><%= radionumber.extrainfo %></td>
        <td><%= link_to '', radionumber, class: "far fa-eye"
        %></td>
        <td><%= link_to '', edit_radionumber_path(radionumber), class: "far fa-edit"
        %></td>
        <td><%= link_to '', radionumber, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Radio Number', new_radionumber_path %>
