<center>
<p id="notice"><%= notice %></p>

<h1>Days Off Requests</h1>

<table>
  <thead>
    <tr>
      <th>Operator Name</th>
      <th>First Day Off</th>
      <th>Last Day Off</th>
      <th>Return Date</th>
      <th>Hours Requested</th>
      <th>Type of Time Requested</th>
      <th>Comment</th>
      <th>Approved?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daysoffrequests.each do |daysoffrequest| %>
      <tr>
        <td><%= daysoffrequest.operatorname %></td>
        <td><%= daysoffrequest.firstdayoff %></td>
        <td><%= daysoffrequest.lastdayoff %></td>
        <td><%= daysoffrequest.returndate %></td>
        <td><%= daysoffrequest.hoursrequested %></td>
        <td><%= daysoffrequest.timerequested %></td>
        <td><%= daysoffrequest.comment %></td>
        <td><%= daysoffrequest.approved_to_string %></td>
        <td><%= link_to 'Show', daysoffrequest %></td>
        <td><%= link_to 'Edit', edit_daysoffrequest_path(daysoffrequest) %></td>
        <td><%= link_to 'Destroy', daysoffrequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New request', new_daysoffrequest_path %>
</center>