<%= form_with(model: rollcall, local: true) do |form| %>
  <% if rollcall.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2>The form contains <%= pluralize(rollcall.errors.count, "error") %>.</h2>
      </div>
      <ul>
        <% rollcall.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Radio #" %>
    <%= form.number_field :radionum, maxlength: 9 %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, maxlength: 400 %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
