
<p id="notice"><%= notice %></p>

<h1>Rollcalls</h1>

<table class="center">
  <thead>
    <tr>
      <th>Radio #</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rollcalls.each do |rollcall| %>
      <tr>
        <td><%= rollcall.radionum %></td>
        <td><%= rollcall.title %></td>
        <td><%= rollcall.description %></td>
        <td><%= link_to 'Show', rollcall %></td>
        <td><%= link_to 'Edit', edit_rollcall_path(rollcall) %></td>
        <td><%= link_to 'Destroy', rollcall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rollcall', new_rollcall_path %>
