<p id="notice"><%= notice %></p>
<div id="search">
  <%= form_tag txdotstreets_path, :method => 'get' do %>
    <%= text_field_tag :address_search, params[:address_search], :placeholder => "Address" %>
    <%= text_field_tag :name_search, params[:name_search], :placeholder => "Name" %>
    <%= text_field_tag :phone_search, params[:phone_search], :placeholder => "Callback Number" %>
    <%= text_field_tag :unit_search, params[:unit_search], :placeholder => "Unit Number" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div class="apple_pagination">
  <%= will_paginate @txdotstreets %>
</div>

<center>

<h1>TX-DOT Streets Call-Out</h1>

<table>
  <thead>
    <tr>
      <th>Intersection</th>
      <th>Name</th>
      <th>Call Back</th>
      <th>Unit Assigned</th>
      <th>Problem</th>
      <th>City</th>
      <th>State</th>
      <th>Needed</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @txdotstreets.each do |txdotstreet| %>
      <tr>
        <td><%= txdotstreet.intersection.humanize %></td>
        <td><%= txdotstreet.name.humanize.titleize %></td>
        <td><%= txdotstreet.callback.humanize %></td>
        <td><%= txdotstreet.unitassigned.humanize %></td>
        <td><%= txdotstreet.problem.humanize %></td>
        <td><%= txdotstreet.city_to_string.humanize %></td>
        <td><%= txdotstreet.state_to_string.humanize %></td>
        <td><%= txdotstreet.needed.humanize %></td>
        <td><%= txdotstreet.comment.humanize %></td>
        <td><%= link_to '', txdotstreet , class: "far fa-eye"
        %></td>
        <td><%= link_to '', edit_txdotstreet_path(txdotstreet), class: "far fa-edit"
        %></td>
        <td><%= link_to '', txdotstreet, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call-Out', new_txdotstreet_path %>
  <br />-
  <br />
  <a href="/pages/afterhours.html">Back to After Hours Call-Out</a>
</center>