<p id="notice"><%= notice %></p>

<p>
  <strong>Intersection:</strong>
  <%= @txdotstreet.intersection %>
</p>

<p>
  <strong>Name:</strong>
  <%= @txdotstreet.name %>
</p>

<p>
  <strong>Call Back:</strong>
  <%= @txdotstreet.callback %>
</p>

<p>
  <strong>Unit Assigned:</strong>
  <%= @txdotstreet.unitassigned %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @txdotstreet.problem %>
</p>

<p>
  <strong>City:</strong>
  <%= @txdotstreet.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @txdotstreet.state %>
</p>

<p>
  <strong>Needed:</strong>
  <%= @txdotstreet.needed %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @txdotstreet.comment %>
</p>

<%= link_to 'Edit', edit_txdotstreet_path(@txdotstreet) %> |
<%= link_to 'Back', txdotstreets_path %>
