<center>
<p id="notice"><%= notice %></p>

<h1>GeoBase Reports</h1>

<table>
  <thead>
    <tr>
      <th>Present Address</th>
      <th>Change To</th>
      <th>Business Name Change</th>
      <th>Comment</th>
      <th>Reported by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @georeports.each do |georeport| %>
      <tr>
        <td><%= georeport.presentaddress %></td>
        <td><%= georeport.changeaddrto %></td>
        <td><%= georeport.biznamechange %></td>
        <td><%= georeport.comment %></td>
        <td><%= georeport.reportedby %></td>
        <td><%= link_to 'Show', georeport %></td>
        <td><%= link_to 'Edit', edit_georeport_path(georeport) %></td>
        <td><%= link_to 'Destroy', georeport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_georeport_path %>
</center>