<p id="notice"><%= notice %></p>

<p>
  <strong>Present Address:</strong>
  <%= @georeport.presentaddress.humanize %>
</p>

<p>
  <strong>Change To:</strong>
  <%= @georeport.changeaddrto.humanize %>
</p>

<p>
  <strong>Business Name Change:</strong>
  <%= @georeport.biznamechange.humanize %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @georeport.comment.humanize %>
</p>
<hr width="20%">
<br />
<strong>Keyholder Notifications</strong>
<div class="formTable">
<center>
<table>
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @georeport.name1.humanize %></td>
    <td><strong>Phone:</strong></td>
    <td><%= @georeport.phone1.humanize %></td>
  </tr>
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @georeport.name2.humanize %></td>
    <td><strong>Phone:</strong></td>
    <td><%= @georeport.phone2.humanize %></td>
  </tr>
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @georeport.name3.humanize %></td>
    <td><strong>Phone:</strong></td>
    <td><%= @georeport.phone3.humanize %></td>
  </tr>
</table>
</center>
</div>

<p>
  <strong>Reported by:</strong>
  <%= @georeport.reportedby.humanize %>
</p>

<%= link_to 'Edit', edit_georeport_path(@georeport) %> |
<%= link_to 'Back', georeports_path %>
