<%= form_with(model: gatecode, local: true) do |form| %>
  <% if gatecode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gatecode.errors.count, "error") %> prohibited this gatecode from being saved:</h2>

      <ul>
      <% gatecode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit "Add Gate Code" %>
  </div>
<% end %>
