<p id="notice"><%= notice %></p>
<div id="search">
  <%= form_tag gatecodes_path, :method => 'get' do %>
    <%= text_field_tag :location_search, params[:location_search], :placeholder => "Location" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<h1>Gate Codes</h1>

<table class="center">
  <thead>
    <tr>
      <th>Location</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gatecodes.each do |gatecode| %>
      <tr>
        <td><%= gatecode.location %></td>
        <td><%= gatecode.code %></td>
        <td><%= link_to '', gatecode, class: "far fa-eye"
        %></td>
        <td><%= link_to '', edit_gatecode_path(gatecode), class: "far fa-edit"
        %></td>
        <td><%= link_to '', gatecode, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gate Code', new_gatecode_path %>
