<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @gatecode.location.humanize.titleize %>
</p>

<p>
  <strong>Code:</strong>
  <%= @gatecode.code.humanize%>
</p>

<%= link_to 'Edit', edit_gatecode_path(@gatecode) %> |
<%= link_to 'Back', gatecodes_path %>
