<p id="notice"><%= notice %></p>
<div id="search">
  <%= form_tag txdotlights_path, :method => 'get' do %>
    <%= text_field_tag :address_search, params[:address_search], :placeholder => "Address" %>
    <%= text_field_tag :name_search, params[:name_search], :placeholder => "Name" %>
    <%= text_field_tag :phone_search, params[:phone_search], :placeholder => "Callback Number" %>
    <%= text_field_tag :unit_search, params[:unit_search], :placeholder => "Unit Number" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<center>
<p id="notice"><%= notice %></p>

<h1>TX-DOT Signal Light Call-Out</h1>

<table>
  <thead>
    <tr>
      <th>Intersection</th>
      <th>Name</th>
      <th>Call Back</th>
      <th>Unit Assigned</th>
      <th>Problem</th>
      <th>City</th>
      <th>State</th>
      <th>Lightout</th>
      <th>Lightred</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @txdotlights.each do |txdotlight| %>
      <tr>
        <td><%= txdotlight.intersection %></td>
        <td><%= txdotlight.name %></td>
        <td><%= txdotlight.callback %></td>
        <td><%= txdotlight.unitassigned %></td>
        <td><%= txdotlight.problem %></td>
        <td><%= txdotlight.city_to_string %></td>
        <td><%= txdotlight.state_to_string %></td>
        <td><%= txdotlight.lightout_to_string %></td>
        <td><%= txdotlight.lightred_to_string %></td>
        <td><%= txdotlight.comment %></td>
        <td><%= link_to '', txdotlight, class: "far fa-eye"
        %></td>
        <td><%= link_to '', edit_txdotlight_path(txdotlight), class: "far fa-edit"
        %></td>
        <td><%= link_to '', txdotlight, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call-Out', new_txdotlight_path %>
  <br />-
  <br />
  <a href="/pages/afterhours.html">Back to After Hours Call-Out</a>
</center>