<center>
<p id="notice"><%= notice %></p>

<h1>TX-DOT Signal Light Call-Out</h1>

<table>
  <thead>
    <tr>
      <th>Intersection</th>
      <th>Name</th>
      <th>Call Back</th>
      <th>Unit Assigned</th>
      <th>Problem</th>
      <th>City</th>
      <th>State</th>
      <th>Lightout</th>
      <th>Lightred</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @txdotlights.each do |txdotlight| %>
      <tr>
        <td><%= txdotlight.intersection %></td>
        <td><%= txdotlight.name %></td>
        <td><%= txdotlight.callback %></td>
        <td><%= txdotlight.unitassigned %></td>
        <td><%= txdotlight.problem %></td>
        <td><%= txdotlight.city %></td>
        <td><%= txdotlight.state %></td>
        <td><%= txdotlight.lightout %></td>
        <td><%= txdotlight.lightred %></td>
        <td><%= txdotlight.comment %></td>
        <td><%= link_to 'Show', txdotlight %></td>
        <td><%= link_to 'Edit', edit_txdotlight_path(txdotlight) %></td>
        <td><%= link_to 'Destroy', txdotlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call-Out', new_txdotlight_path %>
  <br />-
  <br />
  <a href="/pages/afterhours.html">Back to After Hours Call-Out</a>
</center>