<p id="notice"><%= notice %></p>

<p>
  <strong>Intersection:</strong>
  <%= @txdotlight.intersection.humanize %>
</p>

<p>
  <strong>Name:</strong>
  <%= @txdotlight.name.humanize %>
</p>

<p>
  <strong>Call Back:</strong>
  <%= @txdotlight.callback.humanize %>
</p>

<p>
  <strong>Unit Assigned:</strong>
  <%= @txdotlight.unitassigned.humanize %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @txdotlight.problem.humanize %>
</p>

<p>
  <strong>City:</strong>
  <%= @txdotlight.city_to_string.humanize %>
</p>

<p>
  <strong>State:</strong>
  <%= @txdotlight.state_to_string.humanize %>
</p>

<p>
  <strong>Lightout:</strong>
  <%= @txdotlight.lightout_to_string.humanize %>
</p>

<p>
  <strong>Lightred:</strong>
  <%= @txdotlight.lightred_to_string.humanize %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @txdotlight.comment.humanize %>
</p>

<%= link_to 'Edit', edit_txdotlight_path(@txdotlight) %> |
<%= link_to 'Back', txdotlights_path %>
