<p id="notice"><%= notice %></p>

<p>
  <strong>Intersection:</strong>
  <%= @txdotlight.intersection %>
</p>

<p>
  <strong>Name:</strong>
  <%= @txdotlight.name %>
</p>

<p>
  <strong>Call Back:</strong>
  <%= @txdotlight.callback %>
</p>

<p>
  <strong>Unit Assigned:</strong>
  <%= @txdotlight.unitassigned %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @txdotlight.problem %>
</p>

<p>
  <strong>City:</strong>
  <%= @txdotlight.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @txdotlight.state %>
</p>

<p>
  <strong>Lightout:</strong>
  <%= @txdotlight.lightout %>
</p>

<p>
  <strong>Lightred:</strong>
  <%= @txdotlight.lightred %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @txdotlight.comment %>
</p>

<%= link_to 'Edit', edit_txdotlight_path(@txdotlight) %> |
<%= link_to 'Back', txdotlights_path %>
