<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @citystreet.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @citystreet.name %>
</p>

<p>
  <strong>Call Back:</strong>
  <%= @citystreet.callback %>
</p>

<p>
  <strong>Unit Assigned:</strong>
  <%= @citystreet.unitassigned %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @citystreet.problem %>
</p>

<p>
  <strong>Closest Intersection:</strong>
  <%= @citystreet.closestintersection %>
</p>

<p>
  <strong>City:</strong>
  <%= @citystreet.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @citystreet.state %>
</p>

<p>
  <strong>Lightout:</strong>
  <%= @citystreet.lightout %>
</p>

<p>
  <strong>Lightred:</strong>
  <%= @citystreet.lightred %>
</p>

<p>
  <strong>Roadhazard:</strong>
  <%= @citystreet.roadhazard %>
</p>

<p>
  <strong>Needed:</strong>
  <%= @citystreet.needed %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @citystreet.comment %>
</p>

<%= link_to 'Edit', edit_citystreet_path(@citystreet) %> |
<%= link_to 'Back', citystreets_path %>
