<p id="notice"><%= notice %></p>
<center>

  <div id="search">
    <%= form_tag fleettickets_path, :method => 'get' do %>
      <%= number_field_tag :unit_search, params[:unit_search], :placeholder => "Unit Number", :type => "number" %>
      <%= text_field_tag :officer_search, params[:officer_search], :placeholder => "Officer" %>
      <%= text_field_tag :problem_search, params[:problem_search], :placeholder => "Problem" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>

  <div class="apple_pagination">
    <%= will_paginate @fleettickets %>
  </div>

<h1>Fleet Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Unit Number</th>
      <th>Reporting Officer</th>
      <th>Problem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fleettickets.each do |fleetticket| %>
      <tr>
        <td><%= fleetticket.unitnumber %></td>
        <td><%= fleetticket.reportingofficer.humanize.titleize %></td>
        <td><%= fleetticket.problem.humanize %></td>
        <td><%= link_to '', fleetticket , class: "far fa-eye"
        %></td>
        <td><%= link_to '', edit_fleetticket_path(fleetticket), class: "far fa-edit"
        %></td>
        <td><%= link_to '', fleetticket, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fleet Ticket', new_fleetticket_path %>
</center>
