<%= form_with(model: animalcontrol, local: true) do |form| %>
  <% if animalcontrol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animalcontrol.errors.count, "error") %> prohibited this animal control from being saved:</h2>

      <ul>
      <% animalcontrol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @animalcontrol.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@animalcontrol.errors.count, "error") %>.
      </div>
      <ul>
        <% @animalcontrol.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :callback, "Call Back" %>
    <%= form.text_field :callback %>
  </div>

  <div class="field">
    <%= form.label :unitassigned, "Unit Assigned" %>
    <%= form.text_field :unitassigned %>
  </div>

  <div class="field">
    <%= form.label :problem %>
    <%= form.text_area :problem %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>
