<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @animalcontrol.address.humanize %>
</p>

<p>
  <strong>Name:</strong>
  <%= @animalcontrol.name.humanize %>
</p>

<p>
  <strong>Call Back:</strong>
  <%= @animalcontrol.callback.humanize %>
</p>

<p>
  <strong>Unit Assigned:</strong>
  <%= @animalcontrol.unitassigned.humanize %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @animalcontrol.problem.humanize %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @animalcontrol.comment.humanize %>
</p>

<%= link_to 'Edit', edit_animalcontrol_path(@animalcontrol) %> |
<%= link_to 'Back', animalcontrols_path %>
