<center>
<p id="notice"><%= notice %></p>
  <div id="search">
  <%= form_tag sexoffenders_path, :method => 'get' do %>
    <%= text_field_tag :name_search, params[:name_search], :placeholder => "Name" %>
    <%= submit_tag "Search" %>
  <% end %>
  </div>
<h1>Sex Offenders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if false %>
      <th>Date of Birth</th>
      <th>Address</th>
      <th>Offense</th>
      <th>Risklevel</th>
      <th>Officer</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sexoffenders.each do |sexoffender| %>
      <tr>
        <td><%= sexoffender.name %></td>
        <% if false %>
        <td><%= sexoffender.dateofbirth %></td>
        <td><%= sexoffender.address %></td>
        <td><%= sexoffender.offense %></td>
        <td><%= sexoffender.risklevel %></td>
        <td><%= sexoffender.officer %></td>
        <% end %>
        <td><%= link_to 'Show', sexoffender %></td>
        <td><%= link_to 'Edit', edit_sexoffender_path(sexoffender) %></td>
        <td><%= link_to 'Destroy', sexoffender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sex Offender', new_sexoffender_path %>
</center>