<p id="notice"><%= notice %></p>
<div class="wrapper">

  <div class="left">
    <p>
    <%=image_tag(@sexoffender.image, style: 'width:160px;height:160px;')%>

    </p>
  </div>

  <div class="right">
    <p>
      <strong>Name:</strong>
      <%= @sexoffender.name.humanize.titleize %>
    </p>

    <p>
      <strong>Date of Birth:</strong>
      <%= @sexoffender.dateofbirth %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @sexoffender.address.humanize %>
    </p>

    <p>
      <strong>Offense:</strong>
      <%= @sexoffender.offense.humanize %>
    </p>

    <p>
      <strong>Risklevel:</strong>
      <%= @sexoffender.risklevel.humanize %>
    </p>

    <p>
      <strong>Officer:</strong>
      <%= @sexoffender.officer.humanize.titleize %>
    </p>
    <%= link_to 'Edit Sex Offender', edit_sexoffender_path(@sexoffender) %> |
    <%= link_to 'Back', sexoffenders_path %>
    <br />
  </div>
</div>

<div id="comments">
  <h3>Add a comment:</h3>
  <%= render "comments/form" %>
  <% if @sexoffender.comments.count > 0 %>
<hr width = 50%>
  <h2><%= @sexoffender.comments.count %> comments</h2>
    <%= render @sexoffender.comments.reverse.select(&:persisted?) %>
  <% end %>
</div>

