<p id="notice"><%= notice %></p>
<div class="wrapper">
  <div class="left">
    <%=image_tag(@sexoffender.image, style: 'width:180px;height:180px;')%>
  </div>

  <div class="right">
    <p>
      <strong>Name:</strong>
      <%= @sexoffender.name %>
    </p>

    <p>
      <strong>Date of Birth:</strong>
      <%= @sexoffender.dateofbirth %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @sexoffender.address %>
    </p>

    <p>
      <strong>Offense:</strong>
      <%= @sexoffender.offense %>
    </p>

    <p>
      <strong>Risklevel:</strong>
      <%= @sexoffender.risklevel %>
    </p>

    <p>
      <strong>Officer:</strong>
      <%= @sexoffender.officer %>
    </p>
  </div>
</div>
<br><br>
<div class="center">
  <%= link_to 'Edit', edit_sexoffender_path(@sexoffender) %> |
  <%= link_to 'Back', sexoffenders_path %>
</div>
