<%= form_with(model: cchlog, local: true) do |form| %>
  <% if cchlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cchlog.errors.count, "error") %> prohibited this cchlog from being saved:</h2>

      <ul>
      <% cchlog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :dateofbirth, "DOB" %>
    <%= form.date_select :dateofbirth %>
  </div>

  <div class="field">
    <%= form.label :idnum, "ID" %>
    <%= form.text_field :idnum, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :operator%>
    <%= form.text_field :operator, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.collection_select(:reason, Cchlog::REASONS, :to_s, lambda{|i| i.to_s.humanize}) %>

  </div>

  <div class="field">
    <%= form.label :officer %>
    <%= form.text_field :officer, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :disposition %>
    <%= form.collection_select(:disposition, Cchlog::DISPOSITIONS, :to_s, lambda{|i| i.to_s.humanize}) %>
  </div>

  <div class="field">
    <%= form.label :dispositiondate, "Disposition Date"%>
    <%= form.date_select :dispositiondate %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, maxlength: 400 %>
  </div>

  <div class="actions">
    <%= form.submit "Submit"%>
  </div>
<% end %>
