<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cchlog.name.humanize.titleize %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @cchlog.dateofbirth %>
</p>

<p>
  <strong>Idnum:</strong>
  <%= @cchlog.idnum.humanize %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @cchlog.operator.humanize.titleize %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @cchlog.reason.humanize %>
</p>

<p>
  <strong>Officer:</strong>
  <%= @cchlog.officer.humanize.titleize %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @cchlog.disposition.humanize %>
</p>

<p>
  <strong>Dispositiondate:</strong>
  <%= @cchlog.dispositiondate %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @cchlog.comment.humanize %>
</p>

<%= link_to 'Edit', edit_cchlog_path(@cchlog) %> |
<%= link_to 'Back', cchlogs_path %>
