<%= form_with(model: ithelpticket, local: true) do |form| %>
  <% if ithelpticket.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2>The form contains <%= pluralize(ithelpticket.errors.count, "error") %>.</h2>
      </div>
      <ul>
        <% ithelpticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :unit, "Unit/Office" %>
    <%= form.text_field :unit, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :problem, "Explain problem:" %>
    <%= form.text_area :problem, maxlength: 400 %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Ticket"%>
  </div>
<% end %>
