<p id="notice"><%= notice %></p>
<center>
<h1>IT Help Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Problem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ithelptickets.each do |ithelpticket| %>
      <tr>
        <td><%= ithelpticket.name %></td>
        <td><%= ithelpticket.unit %></td>
        <td><%= ithelpticket.problem %></td>
        <td><%= link_to '', ithelpticket, class: "far fa-eye"
        %></td>
        <td><%= link_to '', edit_ithelpticket_path(ithelpticket), class: "far fa-edit"
        %></td>
        <td><%= link_to '', ithelpticket, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ithelpticket_path %>
</center>