<%= form_with(model: vacationpatrol, local: true) do |form| %>
  <% if vacationpatrol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacationpatrol.errors.count, "error") %> prohibited this vacationpatrol from being saved:</h2>

      <ul>
      <% vacationpatrol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :officer %>
    <%= form.text_field :officer %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
