<%= form_with(model: vacationpatrol, local: true) do |form| %>
  <% if vacationpatrol.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <h2>The form contains <%= pluralize(vacationpatrol.errors.count, "error") %>.</h2>
      </div>
      <ul>
        <% vacationpatrol.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :officer %>
    <%= form.text_field :officer, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, maxlength: 400 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
