<p id="notice"><%= notice %></p>

<h1>Vacation Patrol</h1>

<table class="center">
  <thead>
    <tr>
      <th>Officer</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacationpatrols.each do |vacationpatrol| %>
      <tr>
        <td><%= vacationpatrol.officer %></td>
        <td><%= vacationpatrol.comment %></td>
        <td><%= link_to '', vacationpatrol, class: "far fa-eye"
        %></td>
        <td><%= link_to '', edit_vacationpatrol_path(vacationpatrol), class: "far fa-edit"
        %></td>
        <td><%= link_to '', vacationpatrol, method: :delete, data: { confirm: 'Are you sure?' }, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacation Patrol', new_vacationpatrol_path %>
