<%= form_with(model: genericcallout, local: true) do |form| %>
  <% if genericcallout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genericcallout.errors.count, "error") %> prohibited this genericcallout from being saved:</h2>

      <ul>
      <% genericcallout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :callback, "Call Back" %>
    <%= form.text_field :callback, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :unitassigned, "Unit Assigned" %>
    <%= form.text_field :unitassigned, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :problem %>
    <%= form.text_area :problem, maxlength: 400 %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, maxlength: 400 %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
