<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @genericcallout.address.humanize %>
</p>

<p>
  <strong>Name:</strong>
  <%= @genericcallout.name.humanize %>
</p>

<p>
  <strong>Call Back:</strong>
  <%= @genericcallout.callback.humanize %>
</p>

<p>
  <strong>Unit Assigned:</strong>
  <%= @genericcallout.unitassigned.humanize %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @genericcallout.problem.humanize %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @genericcallout.comment.humanize %>
</p>

<%= link_to 'Edit', edit_genericcallout_path(@genericcallout) %> |
<%= link_to 'Back', genericcallouts_path %>
