<%= form_with(model: trouble911, local: true) do |form| %>
  <% if trouble911.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trouble911.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% trouble911.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :providername %>
    <%= form.text_field :providername %>
  </div>

  <div class="field">
    <%= form.label :phonenumber %>
    <%= form.text_field :phonenumber %>
  </div>

  <div class="field">
    <%= form.label :faxnumber %>
    <%= form.text_field :faxnumber %>
  </div>

  <div class="field">
    <%= form.label :extrainfo %>
    <%= form.text_field :extrainfo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
