<%= form_with(model: phonenumber, local: true) do |form| %>
  <% if phonenumber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phonenumber.errors.count, "error") %> prohibited this phonenumber from being saved:</h2>

      <ul>
      <% phonenumber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :home %>
    <%= form.text_field :home, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :office %>
    <%= form.text_field :office, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :cell %>
    <%= form.text_field :cell, maxlength: 140, size: 30 %>
  </div>

  <div class="field">
    <%= form.label :secondary_contact %>
    <%= form.text_field :secondary_contact, maxlength: 140, size: 30 %>
  </div>

  <div class="actions">
    <%= form.submit "Add Phone Number" %>
  </div>
<% end %>
