<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phonenumber.name.humanize.titleize %>
</p>

<p>
  <strong>Home:</strong>
  <%= @phonenumber.home.humanize %>
</p>

<p>
  <strong>Office:</strong>
  <%= @phonenumber.office.humanize %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @phonenumber.cell.humanize %>
</p>

<p>
  <strong>Secondary contact:</strong>
  <%= @phonenumber.secondary_contact.humanize.titleize %>
</p>

<%= link_to 'Edit', edit_phonenumber_path(@phonenumber) %> |
<%= link_to 'Back', phonenumbers_path %>
