<!DOCTYPE html>
<html>
<div id="header">
  <head>
    <title>Lufkin PD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<div id="mail">
    <a href="https://owa.cityoflufkin.com/" target="_blank"><i class="far fa-envelope"></i> </a>
</div>
    <%= link_to '/' do %>
      <%= image_tag 'https://i.gyazo.com/d2c14e760d9e1d4650bb3c2bb8dd6fe8.png',data: { turbolinks: 'false'}, width: 250, height:67%>
    <% end %>
    <%= link_to '/dailydispatch' do %>
      <%= image_tag 'https://i.gyazo.com/34494d26c5638d1833ccc930af0fdfbf.png',data: { turbolinks: 'false'}, width: 250, height:67%>
    <% end %>

    <div id="login">
      <% if current_user %>
        Logged in as <%= current_user.username %>.
        <%= link_to 'Log Out', logout_path %>
        <br/>
        <%= link_to 'Admin Panel', '/admin' %>
      <% else %>
        <% if can? :delete, :all %>
    <%= link_to 'Create Account', signup_path %> or
          <%end %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    </div>
  </head>
</div>
  <body>
    <%= yield %>
  </body>
</html>
